<app-dashboard></app-dashboard>
<div class="edit">
<div class="justify-content-centre ">
  <div class="registration-form">
    <div class="card">
      <div class="card-header heading">
        <h2>Edit Users</h2>
      </div>
      <div class="card-body">
        <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
          <div class="container-fluid">
            <div class="form-group">
              <input type="text" class="form-control input-lg" id="first_name" formControlName="first_name" placeholder=" Name">
              
            </div>
            <div class="form-group">
              <input type="text" class="form-control input-lg" id="last_name" formControlName="last_name" placeholder="Last Name">
              
            </div>
            <div class="form-group">
              <input type="text" class="form-control input-lg" id="display_name" formControlName="display_name" placeholder="Display Name">
              
            </div>
            <div class="form-group">
              <input type="text" class="form-control input-lg" type="text" formControlName="email" placeholder="Email">
             </div>
             <div class="form-group">
              <input type="text" class="form-control input-lg" type="password" formControlName="password" placeholder="Password">
             </div>
             <div class="form-group">
              <input type="text" class="form-control input-lg" type="text" formControlName="role" placeholder="Role">
             </div>
          
      

          </div>
          <div class="row final">
            <div class="col-md-1">
              <button type="submit" style="margin-left:50%" id="submitbtn1" class="btn btn-primary" [disabled]="!updateForm.valid">Update</button>
            </div>


          </div>


        </form>

      </div>
    </div>
  </div>
</div>
<!-- 
  [disabled]="!registrationForm.valid" -->