<app-userdashboard></app-userdashboard>
<div class="listing">
    <div class="row">
        <div class="col-md-4" *ngFor="let product of products">
      <div class="card" >
        <img src="{{product.productImage}}" alt="Product Image" style="width:100%">
        <h1>{{product.name}}</h1>
        <p class="price">${{product.p_cost}}</p>
        <p>{{product.description}}</p>
        <p>{{product.status}}</p>
        <p>
          <button>Add to Cart</button>
        </p>
      </div>
    </div>
  </div>
</div>