<app-userdashboard></app-userdashboard>
<div class="listing">
    <div class="row">
        <div class="col-md-4" *ngFor="let cart of carts">
      <div class="card" >
        <img src="{{cart.productid.productImage}}" alt="Product Image" style="width:100%">
        <h1>{{cart.productid.name}}</h1>
        <p class="price">${{cart.totalCost}}</p>
        <p>Quantity:{{cart.quantity}}</p>
        <p>{{cart.productid.description}}</p>
        <p>{{cart.productid.status}}</p>
        <p>
          <button (click)="Remove(cart._id)">Remove</button>
        </p>
      </div>
        <input type="button" class="btn btn-sm btn-primary" type="button" icon="pi pi-check" style="margin-right: .25em" (click)="IncreaseQuantity(this.cart.productid._id,this.cart.quantity)" value="+">
        <input type="text" value="{{cart.quantity}}">
        <input type="button" class="btn btn-sm btn-primary" type="button" icon="pi pi-check" style="margin-right: .25em" (click)="DecreaseQuantity(this.cart._id,this.cart.productid._id,this.cart.quantity)" value="-">
    </div>
    
  </div>
  <p id="tcost">Total cost :{{this.total}}</p>
  <button [routerLink]="['/userdashboard/userdashboard/checkout']" id="checkout">Proceed to Checkout</button>
  <img src='../../../../../assets/images/empty-cart.jpg' id='emptyCart' style='visibility: hidden'>
</div>
