.listing{
    margin-left:12.5%;margin-right: 2%
}
.listing th{
    color: red;
}
.listing img{
    border: 2px royalblue solid;
}
.listing td{
    color: greenyellow;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  .card button btnq {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(79, 190, 209);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  .card button:hover {
    opacity: 0.7;
  }
  