
<div class="topnav">
  <a  routerLink="/dashboard">Dashboard</a>
  <a routerLink="/dashboard/listProduct">Listing</a>
</div>

<div class="sidebar">
  <p>Welcome User</p>
  
  
  <a routerLink="/userdashboard/userdashboard"><i class="fa fa-fw fa-home"></i> Dashboard</a><br>
  <a routerLink="">Cart<span class="badge badge-secondary">$100</span>
  </a><br>
  <a routerLink="/userdashboard/userdashboard/showproducts">Products
   </a>
  <br>
   <a routerLink="/userdashboard/userdashboard/showblogs">Blogs
       </a>
  <br>
    <a (click)="logout()"><i class="fa fa-fw fa-logout btn" ></i> Logout</a>
</div>
