<app-dashboard></app-dashboard>
<div class="listing">
<h1>Product List</h1>
<br>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Product Image</th>
      <th scope="col">Product Name</th>
      <th scope="col">Description</th>
      <th scope="col">Product Cost</th>
      <th scope="col">Shipping Cost</th>
      <th scope="col">Status</th>
      <th scope="col">Operations</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td><img src="{{product.productImage}}" width="200px" height="100px"></td>
      <td>{{product.name}}</td>
      <td>{{product.description}}</td>
      <td>{{product.p_cost}}</td>
      <td>{{product.s_cost}}</td>
      <td>{{product.status}}</td>
      <td><button class="btn btn-primary" [routerLink]="['/dashboard/edit',product._id]">Edit</button>/<button class="btn btn-danger" (click)="delete(product._id)">Delete</button></td>
   
    </tr>
 
  </tbody>
</table>
</div>