
<app-dashboard></app-dashboard>
<div class="justify-content-centre ">
  <div class="registration-form">
    <div class="card">
      <div class="card-header heading">
        <h2>Add New Blog</h2>
      </div>
      <div class="card-body">
        <form [formGroup]="BlogForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
          <div class="container-fluid">
            <div class="form-group">
              <label>Select Blog Image:</label>
            <!-- <img [src]="imageUrl" style="width:500px;height:400px" >
            <input type="file" #fileInput (change)="handleFileInput($event.target.files)" id="BlogImage">
             -->
             <div>
              <img [src]="imageToDisplay" alt="" />
            </div>
            <div>
              <ngx-croppie *ngIf="croppieImage" #ngxCroppie [croppieOptions]="croppieOptions" [imageUrl]="croppieImage" (result)="newImageResultFromCroppie($event)"></ngx-croppie>
            </div>
            <div>
              <input type="file" id="BlogImage" #imageUpload (change)="imageUploadEvent($event)" accept="image/gif, image/jpeg, image/png"
              />
              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cancelCroppieEdit()">Cancel</button>
              <button type="button" class="btn btn-primary" (click)="saveImageFromCroppie()">Save</button>
            </div>
            </div>
            <div class="form-group">
              <input type="text" pTooltip="Enter Product name" class="form-control input-lg" id="title" formControlName="title" placeholder="Title">
              
            </div>
            <div class="form-group">
              <!-- <textarea cols="50" rows="10" class="form-control input-lg" id="description" formControlName="description" placeholder="Blog Description"></textarea>
               -->
               <p-editor formControlName="description" [style]="{'height':'320px'}"></p-editor>
              
            </div>
            <div class="form-group">
              <input  class="form-control input-lg" type="date" id="date" formControlName="date" placeholder="Date">
             </div>
            
          </div>
          <div class="row final">
            <div class="col-md-1">
              <button type="submit" style="margin-left:50%" id="submitbtn1" class="btn btn-primary" [disabled]="!BlogForm.valid">ADD</button>
            </div>


          </div>


        </form>

      </div>
    </div>
  </div>
